<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>814860478799-tmbpmm8iucqfdr8mj7h8cgq6mk349q8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814860478799-tmbpmm8iucqfdr8mj7h8cgq6mk349q8p</string>
	<key>API_KEY</key>
	<string>AIzaSyDYU8m1Py3kkPKsCgRSk_R0UzNGfJKFo-E</string>
	<key>GCM_SENDER_ID</key>
	<string>814860478799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kaminski-Ferreira.Remote-Home</string>
	<key>PROJECT_ID</key>
	<string>blazing-fire-3071</string>
	<key>STORAGE_BUCKET</key>
	<string>blazing-fire-3071.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:814860478799:ios:7176edd528c2b5ff</string>
	<key>DATABASE_URL</key>
	<string>https://blazing-fire-3071.firebaseio.com</string>
</dict>
</plist>
