<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Remote Home.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A703CD491C7B9AA7005CCFC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A703CD601C7B9AA7005CCFC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A703CD6B1C7B9AA7005CCFC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
